<h1>Listing checks</h1>

<table border="1" style="width: 70%;">
  <tr>
    <th>id</th>
    <th>Method</th>
    <th>Text</th>
    <th>Result</th>
  </tr>

  <% @data.each do |data| %>
    <tr style="text-align:center">
      <td><%= data.id %></td>
      <td><%= data.method %></td>
      <td><%= data.text %></td>
      <td><%= data.result %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'Новая запись', checks_create_path %> ..
<%= link_to 'Выйти', sign_out_path, method: :delete %>